*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: midnightblue;
    font-family: system-ui;
}

.sidebarWrapper{
    display: flex;
    position: relative;
}

.sidebarWrapper .sidebar{
    font: normal ;
    font-size: 1rem;
    float: left;
    background-color: rgb(6, 6, 43);
    color: skyblue;
    height: 100%;
    width: 100px;
    position: fixed;

}

.sidebarWrapper .sidebar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.sidebar .logoContainer{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainCoverText{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.mainTitle{
    color: khaki;
    font-family: 'Heebo', sans-serif;
    font-size: 2.5rem;
    word-spacing: 5px;
    margin-left: 100px;
    line-height: 5rem;
}

.pastWork{
    display: grid;
    grid-gap: 1rem;
    margin-left: 100px;
    grid-auto-flow: column;
    max-width: 800px;
}

.pastWorkBlock{
    color: honeydew;
    text-align: center;
}

.pageWrapper{
    margin-top: 10%;
    margin-left: 10%;
}